body {
    background: url('../img/blur-book-stack-books.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Neucha', cursive;
}

.transparent-item {
    background-color: rgba(244, 244, 244, 0.5);
    border-radius: 5px;
}

.help-block {
    color: red;
}